body {
  color: #222;
}

a {
    color:#5293A7;
    text-decoration: none;
}

a:hover,
a:visited,
a:focus {
    color:#529361;
    text-decoration: none;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 90px;
  line-height:100px;
  position: relative;
  padding-top:70px;
  text-align: center;
  opacity:0;
   -webkit-animation: mymove 1s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: .6s; /* Chrome, Safari, Opera */
    animation: mymove 1s;
    animation-delay: .6s;
  animation-fill-mode: forwards;
}

h1:before {
  position:absolute;
  content: "";
  width:90px;
  height:90px;
  border-radius: 50%;
  background-color:#5293A7;
  @include centerer;
  top:0;
}

h2 {
  font-family: Arial;
  font-size:50px;
  line-height:60px;
  text-align: center;
  margin-bottom:60px;
  opacity:0;
   -webkit-animation: mymove 1s; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 1.6s; /* Chrome, Safari, Opera */
    animation: mymove 1s ;
    animation-delay: 1.6s;
  animation-fill-mode: forwards;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {opacity: 0;}
    to {opacity:1;}
}

@keyframes mymove {
    from {opacity: 0;}
    to {opacity:1;}
}




h3 {
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-size: 70px;
  line-height:80px;
  text-align: center;
  margin-bottom:60px;
}

h3:before {
  position: absolute;
  top:10px;
  width:15px;
  height:65px;
  background: #5293A7;
  content: "";
  margin-left:-40px;
}


h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  line-height:36px;
  text-align: left;
  margin-bottom:30px;
}


p {
  font-family: Arial;
  font-size: 22px;
  line-height:30px;
    margin-bottom:20px;
}

.thick {
  opacity:1;
}


@media screen and (max-width: $screen-xs-max) {
    h1 {
        font-size: 60px;
        line-height:70px;
    }
    h3{
        margin-bottom:20px;
        font-size: 50px;
        line-height:60px;
    }
    
    h2 {
        font-size: 30px;
        line-height:40px;
    }
    #fp-nav.right {
        display:none;
    }
    h3:before {
        width:0px;
        margin-left:0;
    }
    p {
        font-size: 20px;
        line-height:26px;
        margin-bottom:10px;
    }
    img {
        margin-bottom:5px;
    }
}

@media screen and (min-width: $screen-sm-min) {

}

@media screen and (min-width: $screen-md-min) {
 
}