.section-intro {
  background:url(/assets/prod/images/beach-bg.jpg);
  background-size:cover;
}

.section-intro img {
  display:block;
  max-width:100%;
  height:auto;
  margin:auto;
}

@media screen and (max-width: $screen-xs-max) {
    .section-intro {
          background:url(/assets/prod/images/beach-bg-md.jpg);
          background-size:cover;
        }
}